* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #1b76bb73, #FFF);
    position: fixed;
    height: 70px;
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    z-index: 123;
}

.logo-img {
    height: 60px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;
    padding-bottom: 5px;
}

nav ul li a:hover {
    color: #1b75bb;
    font-weight: 600;
}

.menu-icon {
    color: #1b75bb;
    font-size: 30px;
    display: none;
}

.active {
    color: #363795;
    font-weight: bold;
    border-bottom: 3px solid #363795;
}

.active:hover {
    color: #363795;
}

@media (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: left;
        background-color: #FFF;
        padding-bottom: 10px;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        border-bottom: 1px solid #1b75bba6;
        width: 95%;
    }

    .menu-icon {
        display: block;
    }

    .active {
        color: #363795;
        font-weight: bold;
        border-bottom: 0;
    }

    #menuList {
        transition: all 0.5s;
    }

    .heading {
        font-size: 32px;
    }
}

::-webkit-scrollbar {
    width: .5em;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: white;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #1b75bb73;
    border-radius: 1rem;
}

#backToTop {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: #1b75bb;
    color: white;
    border: none;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#backToTop i {
    font-size: 20px;
}

#backToTop::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
    background: conic-gradient(#1b75bb 0%, #e0e0e0 0%);
    z-index: -1;
    transition: background 0.3s ease-in-out;
}