* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1d1f;
    position: fixed;
    height: 70px;
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.logo-img {
    height: 60px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffffc9;
    transition: all 0.2s ease-in-out;
    padding-bottom: 5px;
}
nav ul li a:hover {
    color: #f0cf59;
}

.menu-icon {
    color: #FFF;
    font-size: 30px;
    display: none;
}

.logo a {
    text-decoration: none;
    color: #ffffffc9;
    font-size: larger;
}
.active {
    color: #f0cf59;
    font-weight: bold;
    border-bottom: 3px solid #f0cf59;
}
@media (max-width: 800px)  {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: left;
        background-color: #1d1d1f;
        padding-bottom: 10px;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 20px;
        border-bottom: 1px solid #ffffffa6;
        width: 95%;
    }
    .menu-icon {
        display: block;
    }
    .active {
        color: #f0cf59;
        font-weight: bold;
        border-bottom: 0;
    }
    #menuList {
        transition: all 0.5s;
    }
}