* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.services {
    width: 100vw;
    height: fit-content;
    margin-bottom: 10px;
}

.container-service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-top: 140px;
    gap: 0;
}

.info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
}

.breadcrumb {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 800;
    margin: 0;
}

.breadcrumb a {
    color: #000;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb i {
    color: #1b75bb;
    font-size: 30px;
    font-weight: 900;
}

.breadcrumb p {
    color: #1b75bb;
    margin: 0;
    cursor: default;
}

.info h1 {
    color: #000;
    font-size: 46px;
    font-weight: 700;
    width: 90%;
    margin: 0;
    margin-bottom: 40px;
}

.info h1 b {
    text-transform: uppercase;
    font-weight: 700;
    color: #1b75bb;
}

.info-para {
    width: 90%;
    font-weight: 500;
    line-height: 25px;
    font-size: 18px;
}

.info-para:not(:last-child) {
    margin-bottom: 30px;
}

.info-para a {
    color: #1b75bb;
    font-weight: 800;
    transition: color 0.5s ease-in-out;
}

.info-para a:hover {
    color: #363795;
}

.info-para b {
    color: #1b75bb;
    font-weight: 800;
}

.service-img {
    width: 40%;
    height: 500px;
    background-image: url(../images/Services.png);
    background-position: center;
    background-size: cover;
}

.service-cards {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-cards h1 {
    font-size: 50px;
    font-weight: 700;
    color: #1b75bb;
    text-transform: uppercase;
}

.service-cards .container-service {
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 3;
    gap: 40px;
    justify-content: space-evenly;
}

.card {
    background-color: transparent;
    outline: 0px;
    color: #000;
    width: 370px;
    height: 500px;
    padding: 50px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #1b76bb;
    transition: all 0.3s ease;
}

.liquid {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 150px;
}

.liquid::after {
    content: '';
    width: 850px;
    height: 800px;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    border-radius: 40%;
    animation: animate 5s linear 2s infinite;
    transition: background-color 0.3s ease;
}

.liquid::before {
    content: '';
    width: 850px;
    height: 800px;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 35%;
    animation: animate 5s linear 1.8s infinite;
    transition: background-color 0.3s ease;
}

.liquid.hovered::before {
    background-color: #a9cfed;
}

.liquid.hovered::after {
    background-color: #84bce7b6;
}

.card-txt {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-family: sans-serif;
    letter-spacing: 2px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card-txt i {
    font-size: 60px;
}

.card-txt h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    text-transform: none;
}

.card-txt p {
    font-size: 15px;
}

:root {
    --marquee-width: 100vw;
    --marquee-height: 5vh;
    --marquee-elements-displayed: 3;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
    width: var(--marquee-width);
    height: 10vh;
    background-color: transparent;
    color: #1b75bb;
    overflow: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    cursor: default;
}

.marquee-content:hover {
    animation-play-state: paused;
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3.5/4);
    /* 5rem; */
    font-weight: 500;
    white-space: nowrap;
}

.marquee.reverse {
    background-color: #1b75bb;
    color: #FFF;
}

.marquee.reverse .marquee-content {
    animation: scrolling1 var(--marquee-animation-duration) linear infinite;
}

.marquee.reverse .marquee-content:hover {
    animation-play-state: paused;
}

.technologies {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.technologies h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1b75bb;
    margin-bottom: 70px;
}

.container-tech {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0 50px;
    gap: 50px;
    transition: all 0.5s ease;
}

.tech-categories {
    flex: 1;
    transition: all 0.5s ease;
}

.tech-categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

.tech-categories li {
    width: 80%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #1b75bb;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.5s ease;
    border-radius: 10px;
}

.tech-categories li:hover {
    background-color: #145a8d;
}

.tech-icons {
    display: none;
    transition: all 0.5s ease;
}

.tech-icons.active {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.icon-category {
    display: none;
    transition: all 0.5s ease;
}

.icon-category i {
    font-size: 150px;
    color: #FFF;
}
.icon-category h1 {
    display: none;
    position: absolute;
    top: 5px;
    color: #FFF;
}

.icon-category.active {
    padding: 20px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    background-color: #1b75bb;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
}

.tech-categories li.active {
    width: 100%;
    transition: all 0.5s ease;
    background-color: #363795;
}

.tech-icons.active {
    display: flex;
    width: 60%;
    transition: width 0.5s ease;
}

@media (max-width: 1000px) {
    .container-service {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .services {
        padding: 20px;
        height: fit-content;
    }

    .service-img {
        width: 100%;
    }

    .info {
        width: 100%;
    }

    .info h1 {
        width: 100%;
    }

    .info .info-para {
        width: 100%;
        font-weight: 600;
    }

    .service-cards .container-service {
        padding: 20px;
    }

    .card {
        width: 100%;
    }

    .marquee-content li {
        margin-right: 300px;
    }
    .container-tech {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tech-categories {
        width: 90%;
    }
    .tech-categories li {
        width: 100%;
    }
    .icon-category.active {
        padding-top: 80px;
        height: fit-content;
    }
    .icon-category h1 {
        display: block;
    }
    .icon-category i {
        font-size: 75px;
    }
}
@media (max-width: 600px) {}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

@keyframes scrolling1 {
    0% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }

    100% {
        transform: translateX(0);
    }
}